__tests__/
.github/
.husky/
build/
coverage/
dist/
env/
node_modules/
.vscode/
app/
.dockerignore
.editorconfig
.env
.env.example
.gitignore
.nvmrc
biome.json
CHANGELOG.docs.md
docker-compose.yaml
README.md
.git*
data/
LICENSE
commitlint.config.mjs
